<!DOCTYPE html>
<html>
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="x-UA-Compatible" content="ie=edge">
    <title>Cancel</title>
</head>
<body>
    <div> <img src="canclle.png" alt="" style="
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 30%;"></div>
        <div style="
        text-align: center; 
        font-weight: bold; 
        font-size: 30px;"> user cancelled the payment!</div>
</body>    

</html>


