<!DOCTYPE html>
<html>
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="x-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: -110px;
   }
   .paypal {
  
    font-family: Verdana, Tahoma;
    font-weight: bold;
    font-size: 26px;
  
}
 .logo {
    font-family: Verdana, Tahoma;
    font-weight: bold;
    font-size: 26px;
  }
  i:last-child {
      color: #179bd7;
    }

    i:first-child {
      color: #253b80;
    }

    button {
    padding: 15px 30px;
    border: 1px solid #FF9933;
    border-radius: 5px;
    background-image: linear-gradient(#FFF0A8, #F9B421);
    margin: 0 auto;
    display: block;
    min-width: 138px;
    position: relative;}
    title {
      font-size: 14px;
      color: #505050;
      vertical-align: baseline;
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
    }
    .paypal-logo {
      display: inline-block;
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
      font-size: 20px;
    }



    </style>
</head>
<body>
    
    <div class="box">
        <span class="paypal-logo">
          <i>Pay</i><i>Pal</i><br>
          
        </span>
        <br />
        Pay Now Or Pay With Cash At Delivery
        <br />
        
        <form action="/paypal"><button type="submit" class="paypal-button">
          <span class="paypal-button-title">
            Pay now with
          </span>
          <span class="paypal-logo">
            <i>Pay</i><i>Pal</i>
          </span>
        </button>
    </form>
      </div>
</body>    

</html>





  


